* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: serif;
  background-color: #081b29;
  min-height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Aligns content at the top */
  align-items: center; /* Centers content horizontally */
}


.image-container {
      margin-top: 0px; 
  height: 60px;
	width: 100px;
    }

img {
      max-width: 100%;
      height: auto;
    }

.text-container {
  text-align: center;
  margin-top: 0px;
  display: flex;
}

.BirthDayText {
  font-size: 55px; /* Increased font size */
  font-weight: 700;
  text-align: center;
  color: cyan;
  margin-top: 0px; /* Space between image and text */
  animation: multiGlow 70s infinite;
}

@keyframes multiGlow {
    0% {
        filter: drop-shadow(0 0 2rem cyan);
    }
    6.25% {
        filter: drop-shadow(0 0 2rem magenta);
    }
    12.5% {
        filter: drop-shadow(0 0 2rem yellow);
    }
    18.75% {
        filter: drop-shadow(0 0 2rem lime);
    }
    25% {
        filter: drop-shadow(0 0 2rem red);
    }
    31.25% {
        filter: drop-shadow(0 0 2rem blue);
    }
    37.5% {
        filter: drop-shadow(0 0 2rem orange);
    }
    43.75% {
        filter: drop-shadow(0 0 2rem purple);
    }
    50% {
        filter: drop-shadow(0 0 2rem pink);
    }
    56.25% {
        filter: drop-shadow(0 0 2rem lightblue);
    }
    62.5% {
        filter: drop-shadow(0 0 2rem lightgreen);
    }
    68.75% {
        filter: drop-shadow(0 0 2rem gold);
    }
    75% {
        filter: drop-shadow(0 0 2rem coral);
    }
    81.25% {
        filter: drop-shadow(0 0 2rem turquoise);
    }
    87.5% {
        filter: drop-shadow(0 0 2rem violet);
    }
    93.75% {
        filter: drop-shadow(0 0 2rem chartreuse);
    }
    100% {
        filter: drop-shadow(0 0 2rem cyan);
    }
}

.user-img {
      margin-top: 0px; 
      animation: multiGlow 70s infinite;
  align-content: center;
  justify-content: center;
  
    }

img {
      max-width: 100%;
      height: auto;
  
    }

.glitch {
        position: relative;
        text-align: center;
        transform: translate(-50%, -50%);
        font-size: 35px;
        font-weight: 700;
        line-height: 1.2;
        color: #fff;
        letter-spacing: 2px;
  bottom: -20px;
        animation: shift 1s ease-in-out infinite alternate;
        
    }

    .glitch:before,
    .glitch:after {
        display: block;
        content: attr(data-glitch);
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.8;
    }

    .glitch:before {
        animation: glitch 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
        color: #8b00ff;
        z-index: -1;
    }

    .glitch:after {
        animation: glitch 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
        color: #00e571;
        z-index: -2;
    }

    @keyframes glitch {
        0% {
            transform: translate(0);
        }
        20% {
            transform: translate(-3px, 3px);
        }
        40% {
            transform: translate(-3px, -3px);
        }
        60% {
            transform: translate(3px, 3px);
        }
        80% {
            transform: translate(3px, -3px);
        }
        to {
            transform: translate(0);
        }
    }

    @keyframes shift {
        0%, 40%, 44%, 58%, 61%, 65%, 69%, 73%, 100% {
            transform: skewX(0deg);
        }
        41% {
            transform: skewX(10deg);
        }
        42% {
            transform: skewX(-10deg);
        }
        59% {
            transform: skewX(40deg) skewY(10deg);
        }
        60% {
            transform: skewX(-40deg) skewY(-10deg);
        }
        63% {
            transform: skewX(10deg) skewY(-5deg);
        }
        70% {
            transform: skewX(-50deg) skewY(-20deg);
        }
        71% {
            transform: skewX(10deg) skewY(-10deg);
        }
    }

.birthdaycard {
	position: relative;
	width: 450px;
	height: 550px;
	cursor: pointer;
	transform-style: preserve-3d;
	transform: perspective(2500px);
	transition: 1s;
  margin-top: 60px;
	}

.birthdaycard:hover {
	transform: perspective(2500px) rotate(5deg);
	box-shadow: inset 100px 20px 100px rgba(0,0,0,0.2), 0 10px 100px rgba(0,0,0,0.4);
	}

.birthdaycard:hover .cardfront {
	transform: rotateY(-160deg);
	}

.birthdaycard:hover .happy {
	visibility: hidden;
	}

.cardfront {
	position: relative;
	background-color: #ffffff;
	width: 250px;
	height: 350px;
	overflow: hidden;
	transform-origin: left;
	box-shadow: inset 100px 20px 100px rgba(0,0,0,0.2), 30px 0 50px rgba(0,0,0,0.4);
	transition: 0.6s;
	}

.happy {
	font-family: serif;
	text-align: center;
	margin: 30px;
	background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
	transition: 0.1s;
	}

.balloons {
	position: absolute;
	}

.balloon1, .balloon2, .balloon3, .balloon4 {
	position: absolute;
	width: 85px;
	height: 95px;
	border-radius: 50%;
	}

.balloon1 {
	background-color: rgba(239, 71, 111, 0.7);
	left: -10px;
	top: 50px;
	}

.balloon2 {
	background-color: rgba(6, 214, 160, 0.7);
	left: 50px;
	top: 20px;
	}

.balloon3 {
	background-color: rgba(255, 209, 102, 0.7);
	left: 110px;
	top: 50px;
	}

.balloon4 {
	background-color: rgba(17, 138, 178, 0.7);
	left: 170px;
	top: 20px;
	}

.balloon1:before, .balloon2:before, .balloon3:before, .balloon4:before {
	content: "";
	position: absolute;
	width: 1px;
	height: 155px;
	background-color: #ffd166;
	top: 95px;
	left: 43px;
	}

.balloon1:after, .balloon2:after, .balloon3:after, .balloon4:after {
	content: "";
	position: absolute;
	border-right: 7px solid transparent;
	border-left: 7px solid transparent;
	top: 94px;
	left: 37px;
	}

.balloon1:after {
	border-bottom: 10px solid #ef476f;
	}

.balloon2:after {
	border-bottom: 10px solid #06d6a0;
	}

.balloon3:after {
	border-bottom: 10px solid #ffd166;
	}

.balloon4:after {
	border-bottom: 10px solid #118ab2;
	}

.cardinside {
	position: absolute;
	background-color: #fff;
	top: 0;
	left: 0;
	width: 250px;
	height: 350px;
	box-shadow: inset 100px 20px 100px rgba(0,0,0,0.2);
	z-index: -1;
	}

p {
	font-family: serif;
	margin: 20px;
	color: #333;
	}

.name {
	position: absolute;
	left: 120px;
	top: 290px;
	color: #333;
	}

.back {
	font-family: serif;
	color: #333;
	text-align: center;
	margin: 30px;
	outline-color: #333;
	outline-style: dotted;
	}
